1. What are data structures, and why are they important?
   - Data structures organize and store data efficiently, helping solve problems faster and more effectively.it will ultimetly help us to deal with the data with more ease.

--

2. Explain the difference between mutable and immutable data types with examples.

   - Mutable: tends to be changed after its creation ,
     e.g., list: x = [1, 2]; x[0] = 3.

     Immutable: tends not to be changed after its creation,
     e.g., tuple: x = (1, 2); x[0] = 3 → Error.

--

3. What are the main differences between lists and tuples in Python?
   - Lists: Mutable, slower,Its comes under hashable type,represent by [ ].
   - Tuples: Immutable, faster,Its comes under Unhashable type,represent by ( ).

--

4. Describe how dictionaries store data ?
   - Dictionaries Stored a data in the form of key:value pair in hash table for quick look-up,
     key must be unique and values can be repeated

--

5. Why might you use a set instead of a list in Python?
   - To remove duplicates and set is faster than list.

--

6. What is a string in Python, and how is it different from a list?
   - A string is an immutable sequence of characters, while a list is mutable and can hold any data type.

--

7. How do tuples ensure data integrity in Python?
   - Their immutability prevents unintended modifications, ensuring consistency.

--

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table maps keys to values, enabling dictionaries to perform fast lookups.

--

9. Can lists contain different data types in Python?
   - Yes, e.g., HD=[1, "apple", 3.14].

--

10. Explain why strings are immutable in Python.
   - Immutability ensures memory efficiency, security, and thread-safety.

--

11. What advantages do dictionaries offer over lists for certain tasks?
   - Faster lookups, clear key-value relationships, and no need for sequential searching.

--

12. Describe a scenario where using a tuple would be preferable over a list.
   - Storing constants like GPS coordinates (latitude, longitude) , Storing bank passbook number.

--

13. How do sets handle duplicate values in Python?
   - Sets automatically discard or removes duplicates.

--

14. How does the “in” keyword work differently for lists and dictionaries?
    - Lists: Checks for a value.
      Dictionaries: Checks for a key.

--

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, tuples are immutable, so their elements cannot be changed.

 --

16. What is a nested dictionary, and give an example of its use case?
   - A dictionary within another dictionary.


     Example:(storing user information)
      User_Infomation= { "user1": {"name": "Alice", "age": 30}, "user2": {"name": "Bob", "age": 25}}.

--

17. Describe the time complexity of accessing elements in a dictionary.
    - Accessing elements has an average time complexity of O(1).

--


18. In what situations are lists preferred over dictionaries?
   - When order matters or when storing simple sequential data.

--

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - 1) Dictionaries (before Python 3.7) don't guarantee insertion order; retrieval depends on keys, not position.

     2) also like in 'list' we can retrive a data with its Index position
     e,g - hd[3][2]
     But in 'dictionary' we need have to put its exact key names
     e,g - hd[user1][job]
         

--


20. Explain the difference between a list and a dictionary in terms of data retrieval.
    - List: Retrieve based on index , lookup is slower.

      Dictionary: Retrieve based on key , lookup is faster.

In [2]:
# 1) Write a code to create a string with your name and print it .

Name=input ("Enter your name: ")

print("I am: ",Name)
print(type(Name))

Enter your name: Hitesh Diwate
I am:  Hitesh Diwate
<class 'str'>

In [6]:
# 2) Write a code to find the length of the string "Hello World" .

print(len("Hello World"))

11

In [5]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming" .

Course="Python Programming"

print(Course[:3])

Pyt

In [7]:
# 4) Write a code to convert the string "hello" to uppercase .

Str="hello"
print(Str.upper())

HELLO

In [18]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".

Sentence = "I like apple"
print("before:  ",Sentence)

new_Setence=Sentence.replace("apple","orange")
print("after: ",new_Setence)

before:   I like apple
after:  I like orange

In [23]:
# 6) Write a code to create a list with numbers 1 to 5 and print it .

number=list(range(1,6))
print(number)

[1, 2, 3, 4, 5]

In [26]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4] .

number=[1, 2, 3, 4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [28]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] .

number= [1, 2, 3, 4, 5]
print("before_removing: ",number)
number.remove(3)
print("after_removing: ",number)

before_removing:  [1, 2, 3, 4, 5]
after_removing:  [1, 2, 4, 5]

In [30]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'] .

char=['a', 'b', 'c', 'd']
char[1]

'b'

In [37]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].

print("1st way")
number=[10, 20, 30, 40, 50]
print(number)
print("Reverse: ")
print(sorted(number,reverse=True))


print("\n2nd way")
number=[10, 20, 30, 40, 50]
print(number)
print("Reverse: ")
print(number[::-1])

1st way
[10, 20, 30, 40, 50]
Reverse:
[50, 40, 30, 20, 10]

2nd way
[10, 20, 30, 40, 50]
Reverse:
[50, 40, 30, 20, 10]

In [56]:
# 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

number_tuple=(10,20,30)
print(number_tuple)
print(type(number_tuple))

(10, 20, 30)
<class 'tuple'>

In [41]:
# 12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

Fruits=('apple', 'banana', 'cherry')
Fruits[0]

'apple'

In [48]:
# 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

number=(1, 2, 3, 2, 4, 2)
print("repetation of 2 is: ",number.count(2))

repetation of 2 is:  3

In [47]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

pets=('dog', 'cat', 'rabbit')
print("Index of 'cat' is : ",pets.index("cat"))

Index of 'cat' is :  1

In [6]:
# 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

fruits=('apple', 'orange', 'banana')

if "banana" in fruits:
  print("banana is present in Fruit tuple")
else:
  print("It is not present in Fruit tuple")

banana is present in Fruit tuple

In [53]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

number_set={1, 2, 3, 4, 5}
print(number_set)
print(type(number_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [54]:
# 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

number_set={1, 2, 3, 4}
print("before adding: \n",number_set)
number_set.add(6)
print("after adding: \n",number_set)

before adding:
 {1, 2, 3, 4}
after adding:
 {1, 2, 3, 4, 6}

In [55]:
# 18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
number_tuple=(10,20,30)
print(number_tuple)
print(type(number_tuple))

(10, 20, 30)
<class 'tuple'>

In [57]:
# 19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

fruit_tuple= ('apple', 'banana', 'cherry')
print(fruit_tuple[0])

apple

In [58]:
# 20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

number_tuple=(1, 2, 3, 2, 4, 2)
print("Count of 2 is: ",number_tuple.count(2))

Count of 2 is:  3

In [60]:
# 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

pets= ('dog', 'cat', 'rabbit')
print("""index of the element "cat" in the pets is: """,pets.index("cat" ))

index of the element "cat" in the pets is:  1

In [61]:
# 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

Fruits= ('apple', 'orange', 'banana')
if "banana" in Fruits:
  print("It is there in Fruits")
else:
  print("It is not there in Fruits")

It is there in Fruits

In [62]:
# 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

number={1, 2, 3, 4, 5}
print(number)
print(type(number))

{1, 2, 3, 4, 5}
<class 'set'>

In [63]:
# 24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

number= {1, 2, 3, 4}
print("before adding element: ",number)
number.add(6)
print("after adding element: ",number)

before adding element:  {1, 2, 3, 4}
after adding element:  {1, 2, 3, 4, 6}